/*
"f" : font -> text
"b" : background -> font
*/
/* DEFAULT */
/* FORMATAGE TEXTE */
/* ALERTE */
/* TABLEAU */
/* LIEN */
/* BOUTON */
/* PAGINATION */
/* GRILLE */
/* line 1, ../scss/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 22, ../scss/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 26, ../scss/_reset.scss */
body {
  line-height: 1;
}

/* line 29, ../scss/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 32, ../scss/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 35, ../scss/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 40, ../scss/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ALERTE */
/* line 2, ../scss/_alerte.scss */
.alerte {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 3, ../scss/_alerte.scss */
.succes {
  background-color: green;
  color: white;
}

/* line 4, ../scss/_alerte.scss */
.info {
  background-color: #56739A;
  color: white;
}

/* line 5, ../scss/_alerte.scss */
.danger {
  background-color: red;
  color: white;
}

/* line 6, ../scss/_alerte.scss */
.avertissement {
  background-color: white;
  color: red;
  border: 1px dashed red;
}

/* BOUTON */
/* line 2, ../scss/_button.scss */
button {
  border: 1px solid black;
  margin-top: 1px;
  margin-bottom: 1px;
}
/* line 4, ../scss/_button.scss */
button.btn {
  border: 1px solid #4E3D28;
}
/* line 5, ../scss/_button.scss */
button.btn:hover {
  border: 1px solid #4E3D28;
  background-color: #4E3D28;
  color: white;
  cursor: pointer;
}
/* line 6, ../scss/_button.scss */
button.btn-blue {
  background-color: blue;
  border: 1px solid blue;
  color: white;
}
/* line 7, ../scss/_button.scss */
button.btn-red {
  background-color: red;
  border: 1px solid red;
  color: white;
}
/* line 8, ../scss/_button.scss */
button.btn-yellow {
  background-color: yellow;
  border: 1px solid yellow;
  color: black;
}
/* line 9, ../scss/_button.scss */
button.btn-green {
  background-color: green;
  border: 1px solid green;
  color: white;
}
/* line 10, ../scss/_button.scss */
button.btn-black {
  background-color: black;
  border: 1px solid black;
  color: white;
}
/* line 11, ../scss/_button.scss */
button.btn-pink {
  background-color: pink;
  border: 1px solid pink;
  color: black;
}
/* line 12, ../scss/_button.scss */
button.btn-purple {
  background-color: purple;
  border: 1px solid purple;
  color: white;
}
/* line 13, ../scss/_button.scss */
button.btn-grey {
  background-color: gray;
  border: 1px solid gray;
  color: white;
}
/* line 14, ../scss/_button.scss */
button.btn-brown {
  background-color: brown;
  border: 1px solid brown;
  color: white;
}
/* line 15, ../scss/_button.scss */
button.btn-orange {
  background-color: orange;
  border: 1px solid orange;
  color: white;
}
/* line 17, ../scss/_button.scss */
button.small {
  border-radius: 0.4em;
  font-size: 1em;
  padding: 1px 5px;
}
/* line 18, ../scss/_button.scss */
button.large {
  border-radius: 0.2em;
  font-size: 2em;
  padding: 2px 10px;
}
/* line 19, ../scss/_button.scss */
button.extralarge {
  width: 100%;
}
/* line 20, ../scss/_button.scss */
button.flat {
  border: 0px;
  border-radius: 0em;
}
/* line 21, ../scss/_button.scss */
button.fancy {
  color: white;
  box-shadow: 5px 5px 1px #343434;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  background-image: radial-gradient(#4e3d28, #c8ad7f);
}
/* line 30, ../scss/_button.scss */
button.fancy:hover {
  color: white;
  box-shadow: 5px 5px 1px #343434;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  background-image: radial-gradient(#c8ad7f, #4e3d28);
}

/* line 14, ../scss/_grid_mixin.scss */
.container {
  width: 100%;
  margin: 0;
  padding: 0;
  letter-spacing: -0.31em;
  text-rendering: optimizespeed;
  font-family: FreeSans, Arimo, "Droid Sans", Helvetica, Arial, sans-serif;
}
/* line 21, ../scss/_grid_mixin.scss */
.container > div {
  width: 10.5%;
  margin: 1%;
  height: 10px;
  background-color: red;
  box-sizing: border-box;
  letter-spacing: normal;
  word-spacing: normal;
  text-rendering: auto;
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  display: inline-block;
}
@media screen and (min-width: 0px) {
  /* line 34, ../scss/_grid_mixin.scss */
  .container .sm1 {
    width: 10.5%;
  }
  /* line 35, ../scss/_grid_mixin.scss */
  .container .sm2 {
    width: 23%;
  }
  /* line 36, ../scss/_grid_mixin.scss */
  .container .sm3 {
    width: 35.5%;
  }
  /* line 37, ../scss/_grid_mixin.scss */
  .container .sm4 {
    width: 48%;
  }
  /* line 38, ../scss/_grid_mixin.scss */
  .container .sm5 {
    width: 60.5%;
  }
  /* line 39, ../scss/_grid_mixin.scss */
  .container .sm6 {
    width: 73%;
  }
  /* line 40, ../scss/_grid_mixin.scss */
  .container .sm7 {
    width: 85.5%;
  }
  /* line 41, ../scss/_grid_mixin.scss */
  .container .sm8 {
    width: 98%;
  }
  /* line 43, ../scss/_grid_mixin.scss */
  .container .offset-sm1 {
    margin-left: 13.5%;
  }
  /* line 44, ../scss/_grid_mixin.scss */
  .container .offset-sm2 {
    margin-left: 26%;
  }
  /* line 45, ../scss/_grid_mixin.scss */
  .container .offset-sm3 {
    margin-left: 38.5%;
  }
  /* line 46, ../scss/_grid_mixin.scss */
  .container .offset-sm4 {
    margin-left: 51%;
  }
  /* line 47, ../scss/_grid_mixin.scss */
  .container .offset-sm5 {
    margin-left: 63.5%;
  }
  /* line 48, ../scss/_grid_mixin.scss */
  .container .offset-sm6 {
    margin-left: 76%;
  }
  /* line 49, ../scss/_grid_mixin.scss */
  .container .offset-sm7 {
    margin-left: 88.5%;
  }
}
@media screen and (min-width: 600px) {
  /* line 54, ../scss/_grid_mixin.scss */
  .container .md1 {
    width: 10.5%;
  }
  /* line 55, ../scss/_grid_mixin.scss */
  .container .md2 {
    width: 23%;
  }
  /* line 56, ../scss/_grid_mixin.scss */
  .container .md3 {
    width: 35.5%;
  }
  /* line 57, ../scss/_grid_mixin.scss */
  .container .md4 {
    width: 48%;
  }
  /* line 58, ../scss/_grid_mixin.scss */
  .container .md5 {
    width: 60.5%;
  }
  /* line 59, ../scss/_grid_mixin.scss */
  .container .md6 {
    width: 73%;
  }
  /* line 60, ../scss/_grid_mixin.scss */
  .container .md7 {
    width: 85.5%;
  }
  /* line 61, ../scss/_grid_mixin.scss */
  .container .md8 {
    width: 98%;
  }
  /* line 63, ../scss/_grid_mixin.scss */
  .container .offset-md1 {
    margin-left: 13.5%;
  }
  /* line 64, ../scss/_grid_mixin.scss */
  .container .offset-md2 {
    margin-left: 26%;
  }
  /* line 65, ../scss/_grid_mixin.scss */
  .container .offset-md3 {
    margin-left: 38.5%;
  }
  /* line 66, ../scss/_grid_mixin.scss */
  .container .offset-lg4 {
    margin-left: 51%;
  }
  /* line 67, ../scss/_grid_mixin.scss */
  .container .offset-lg5 {
    margin-left: 63.5%;
  }
  /* line 68, ../scss/_grid_mixin.scss */
  .container .offset-lg6 {
    margin-left: 76%;
  }
  /* line 69, ../scss/_grid_mixin.scss */
  .container .offset-lg7 {
    margin-left: 88.5%;
  }
}
@media screen and (min-width: 1000px) {
  /* line 74, ../scss/_grid_mixin.scss */
  .container .lg1 {
    width: 10.5%;
  }
  /* line 75, ../scss/_grid_mixin.scss */
  .container .lg2 {
    width: 23%;
  }
  /* line 76, ../scss/_grid_mixin.scss */
  .container .lg3 {
    width: 35.5%;
  }
  /* line 77, ../scss/_grid_mixin.scss */
  .container .lg4 {
    width: 48%;
  }
  /* line 78, ../scss/_grid_mixin.scss */
  .container .lg5 {
    width: 60.5%;
  }
  /* line 79, ../scss/_grid_mixin.scss */
  .container .lg6 {
    width: 73%;
  }
  /* line 80, ../scss/_grid_mixin.scss */
  .container .lg7 {
    width: 85.5%;
  }
  /* line 81, ../scss/_grid_mixin.scss */
  .container .lg8 {
    width: 98%;
  }
  /* line 83, ../scss/_grid_mixin.scss */
  .container .offset-lg1 {
    margin-left: 13.5%;
  }
  /* line 84, ../scss/_grid_mixin.scss */
  .container .offset-lg2 {
    margin-left: 26%;
  }
  /* line 85, ../scss/_grid_mixin.scss */
  .container .offset-lg3 {
    margin-left: 38.5%;
  }
  /* line 86, ../scss/_grid_mixin.scss */
  .container .offset-lg4 {
    margin-left: 51%;
  }
  /* line 87, ../scss/_grid_mixin.scss */
  .container .offset-lg5 {
    margin-left: 63.5%;
  }
  /* line 88, ../scss/_grid_mixin.scss */
  .container .offset-lg6 {
    margin-left: 76%;
  }
  /* line 89, ../scss/_grid_mixin.scss */
  .container .offset-lg7 {
    margin-left: 88.5%;
  }
}

/* line 1, ../scss/_menu.scss */
.navbar {
  list-style-type: none;
  background-color: #4E3D28;
  margin: 0;
  text-align: center;
}
/* line 7, ../scss/_menu.scss */
.navbar > li {
  height: 2em;
  background-color: #4E3D28;
  cursor: pointer;
  display: block;
  color: white;
  padding-top: 1em;
  padding-bottom: 1em;
  width: auto;
}
/* line 17, ../scss/_menu.scss */
.navbar > li.disabled:hover {
  color: #4E3D28;
  background-color: white;
}
/* line 18, ../scss/_menu.scss */
.navbar > li.active {
  color: white;
  background-color: #1FA055;
}
@media screen and (min-width: 25em) {
  /* line 23, ../scss/_menu.scss */
  .navbar li {
    display: inline-block;
    width: 15em;
  }
}

/* line 27, ../scss/_menu.scss */
.breadcrumb {
  height: 2em;
  list-style-type: none;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
/* line 33, ../scss/_menu.scss */
.breadcrumb li {
  color: blue;
  display: inline-block;
  cursor: pointer;
}
/* line 38, ../scss/_menu.scss */
.breadcrumb li:after {
  content: " / ";
}

/* line 45, ../scss/_menu.scss */
.pagination {
  width: 100%;
  text-align: center;
}
/* line 49, ../scss/_menu.scss */
.pagination li {
  width: 100px;
  text-align: center;
  padding-top: 4px;
  cursor: pointer;
  height: 20px;
  list-style-type: none;
  display: inline-block;
}
/* line 59, ../scss/_menu.scss */
.pagination li.disabled {
  color: #4E3D28;
}
/* line 61, ../scss/_menu.scss */
.pagination li.active {
  color: #1FA055;
}
/* line 62, ../scss/_menu.scss */
.pagination li.active:active {
  color: #1FA055;
}
/* line 64, ../scss/_menu.scss */
.pagination li:active {
  color: #1FA055;
}

/* HEADER */
/* line 2, ../scss/_composant.scss */
.titre {
  text-align: center;
  color: #4E3D28;
  font-size: 5em;
  font-family: Courier, "Lucida Console", monospace;
  font-weight: bold;
}

/* line 3, ../scss/_composant.scss */
.slogan {
  text-align: center;
  color: #4E3D28;
  font-size: 1em;
  font-family: Courier, "Lucida Console", monospace;
  font-weight: bold;
  font-style: italic;
}

/* JUMBOTRON */
/* line 6, ../scss/_composant.scss */
.jumbotron {
  background-color: #BBAE98;
  padding: 50px 100px;
  text-align: center;
}

/* line 7, ../scss/_composant.scss */
.jumbo_titre {
  font-family: Courier, "Lucida Console", monospace;
  font-weight: bold;
  font-size: 3em;
  margin-bottom: 0.5em;
}

/* line 8, ../scss/_composant.scss */
.jumbo_button {
  border: 1px solid #1FA055;
  background-color: #1FA055;
  color: white;
  padding: 10px 50px;
  margin-top: 0.5em;
  border-radius: 0.6em;
}

/* line 9, ../scss/_composant.scss */
.jumbo_button:hover {
  background-color: white;
  color: #1FA055;
  font-weight: bold;
  border: 1px solid white;
}

/* line 10, ../scss/_composant.scss */
.jumbo_button:active {
  color: red;
}

/* STYLE DEFAUT */
/* line 3, ../scss/_typo.scss */
body {
  font-family: Arial;
  padding: 0;
  color: #4E3D28;
  font-size: 1em;
}

/* line 5, ../scss/_typo.scss */
body > p {
  margin-bottom: 1em;
}

/* TITRE */
/* line 8, ../scss/_typo.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  font-family: cursive, sans-serif;
}

/* TITRE & SOUS-TITRE */
/* line 15, ../scss/_typo.scss */
h1 {
  margin-left: 0.5em;
  font-size: 2.5em;
}
/* line 16, ../scss/_typo.scss */
h1.sub {
  margin-left: 1.7em;
  font-size: 1.75em;
  color: #8B6C42;
}

/* line 17, ../scss/_typo.scss */
h2 {
  margin-left: 1.5em;
  font-size: 2em;
}
/* line 18, ../scss/_typo.scss */
h2.sub {
  margin-left: 2.9em;
  font-size: 1.5em;
  color: #8B6C42;
}

/* line 19, ../scss/_typo.scss */
h3 {
  margin-left: 2.5em;
  font-size: 1.75em;
}
/* line 20, ../scss/_typo.scss */
h3.sub {
  margin-left: 5.4em;
  font-size: 1.25em;
  color: #8B6C42;
}

/* line 21, ../scss/_typo.scss */
h4 {
  margin-left: 4.5em;
  font-size: 1.5em;
}
/* line 22, ../scss/_typo.scss */
h4.sub {
  margin-left: 8.7em;
  font-size: 1em;
  color: #8B6C42;
}

/* line 23, ../scss/_typo.scss */
h5 {
  margin-left: 7em;
  font-size: 1.25em;
}
/* line 24, ../scss/_typo.scss */
h5.sub {
  margin-left: 13.4em;
  font-size: 0.75em;
  color: #8B6C42;
}

/* line 25, ../scss/_typo.scss */
h6 {
  margin-left: 10em;
  font-size: 1em;
}
/* line 26, ../scss/_typo.scss */
h6.sub {
  margin-left: 24em;
  font-size: 0.5em;
  color: #8B6C42;
}

/* line 28, ../scss/_typo.scss */
* > .sub {
  font-size: 1em;
  color: #8B6C42;
}

/* line 29, ../scss/_typo.scss */
h1 > small, h2 > small, h3 > small, h4 > small, h5 > small, h6 > small {
  font-size: 0.75em;
  color: #8B6C42;
}

/* BALISE DE TEXTE */
/* line 32, ../scss/_typo.scss */
mark {
  background-color: #FDF1B8;
  color: #4E3D28;
}

/* line 33, ../scss/_typo.scss */
del {
  text-decoration: line-through red;
}

/* line 34, ../scss/_typo.scss */
ins {
  text-decoration: none;
  background-color: #FDF1B8;
  font-size: 0.75em;
  padding: 1px 5px 1px 5px;
}

/* line 35, ../scss/_typo.scss */
u {
  text-decoration: underline;
}

/* line 36, ../scss/_typo.scss */
strong {
  font-weight: bold;
}

/* line 37, ../scss/_typo.scss */
em {
  font-weight: bold;
  font-style: italic;
}

/* line 38, ../scss/_typo.scss */
abbr {
  border-bottom: 1px dashed black;
}

/* -----------------*/
/* line 40, ../scss/_typo.scss */
blockquote {
  font-size: 0.75em;
  font-style: italic;
  quotes: '"' '"' "'" "'";
}

/* line 41, ../scss/_typo.scss */
blockquote:before {
  content: open-quote;
}

/* line 42, ../scss/_typo.scss */
blockquote:after {
  content: close-quote;
}

/* line 43, ../scss/_typo.scss */
code {
  color: #4E3D28;
  font-family: monospace;
  border-left: 3px solid #4E3D28;
  background-color: #FDF1B8;
  padding-left: 15px;
  margin-left: 10em;
}

/* line 45, ../scss/_typo.scss */
kbd {
  color: white;
  padding: 1px 7px;
  border: 1px solid black;
  background-color: #4E3D28;
  border-color: #463F32;
  border-radius: 20%;
}

/* line 54, ../scss/_typo.scss */
pre {
  font-family: monospace;
  font-size: 2em;
}

/* line 55, ../scss/_typo.scss */
ul {
  margin-left: 2em;
  list-style-type: circle;
}

/* line 56, ../scss/_typo.scss */
.list_carre {
  list-style-type: square;
}

/* line 57, ../scss/_typo.scss */
.list_sans {
  list-style-type: none;
}

/* FORMATAGE TEXTE */
/* line 60, ../scss/_typo.scss */
.tleft {
  justify-content: flex-start;
}

/* line 61, ../scss/_typo.scss */
.tright {
  text-align: right;
}

/* line 62, ../scss/_typo.scss */
.tcenter {
  text-align: center;
}

/* line 63, ../scss/_typo.scss */
.tjustifie {
  text-align: justify;
  text-justify: inter-word;
}

/* line 64, ../scss/_typo.scss */
.firstmaj {
  text-transform: capitalize;
}

/* line 65, ../scss/_typo.scss */
.maj {
  text-transform: uppercase;
}

/* line 66, ../scss/_typo.scss */
.min {
  text-transform: lowercase;
}

/* TABLEAU */
/* line 70, ../scss/_typo.scss */
table {
  margin: 5px;
  border: 1px solid black;
  text-align: center;
}

/* line 71, ../scss/_typo.scss */
th {
  background-color: #4E3D28;
  color: white;
  padding: 1px 5px;
  border: 1px solid black;
  border-right: 1px solid white;
}

/* line 72, ../scss/_typo.scss */
th:last-child {
  border-right: 1px solid black;
}

/* line 73, ../scss/_typo.scss */
td {
  padding: 1px 5px;
  border: 1px solid black;
}

/* line 74, ../scss/_typo.scss */
.alterne:nth-child(2n+1) {
  background-color: #C8AD7F;
  color: #4E3D28;
}

/* line 76, ../scss/_typo.scss */
.tab_survol:hover, .tab_survol:hover > td {
  background-color: #FFE4C4;
}

/* HR */
/* line 79, ../scss/_typo.scss */
hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.75), transparent);
}

/* LIEN */
/* line 84, ../scss/_typo.scss */
a {
  color: #4E3D28;
  text-decoration: underline;
}

/* line 85, ../scss/_typo.scss */
a:link {
  color: #4E3D28;
}

/* line 86, ../scss/_typo.scss */
a:visited {
  color: #FEA347;
}

/* line 87, ../scss/_typo.scss */
a:hover {
  text-decoration: none;
  font-weight: bold;
}

/* line 88, ../scss/_typo.scss */
a:active {
  color: red;
}
