/* HEADER */
.titre { text-align: center; color: $fcolor; font-size: 5em; font-family: Courier, "Lucida Console", monospace; font-weight: bold; margin-top: 5%; }
.slogan { text-align: center; color: $fcolor; font-size: $tsize; font-family: Courier, "Lucida Console", monospace; font-weight: bold; font-style: italic; }

/* JUMBOTRON */
.jumbotron { background-color: #BBAE98; padding: 50px 100px; text-align: center; }
.jumbo_titre { font-family: Courier, "Lucida Console", monospace; font-weight: bold; font-size: 3em; margin-bottom: 0.5em; }
.jumbo_button { border: 1px solid #1FA055; background-color: #1FA055; color: white; padding: 10px 50px; margin-top: 0.5em; border-radius: 0.6em; }
.jumbo_button:hover { background-color: white; color: #1FA055; font-weight: bold; border: 1px solid white; }
.jumbo_button:active { color: red; }
