.container
  {
  & > div { background-color: white; opacity: 0.8; }

  & > .acc
    {
    margin-top: 5%;
    font-size: 3em;
    background-color: white;
    color: black;
    opacity: 0.5;
    height: 300px;
    padding-top: 6%;
    }
  & > .acc:nth-child(2) { padding-top: 7%; }
  & > .acc:hover { cursor: pointer; opacity: 0.8; }
  & > .search
    {
    text-align: left;
    height: 150px;
    & > form { height: 150px;}
    & > form > div > div > #inp
      {
      float: right;
      margin-right: 5%;
      margin-top: 20%;
      background-color: black;
      color: white;
      border: 1px solid black;
      cursor: pointer;
      }
    }

  & > .details
    {
    padding: 1%; height: 450px;
    & > .desc
      {
      text-align: left;
      padding: 0 10%;
      & > h6 { margin: 0; display: inline-block; }
      & > img { margin: 10%; display: inline-block; width:100px; height:100px; }
      & > div
        {
        font-size: 1.5em;
        vertical-align: top;
        padding-top: 2%;
        }
      }
    & > button
      {
      float: right;
      margin-right: 10%;
      background-color: blue;
      color: white;
      border: 1px solid blue;
      border-radius: 10px;
      width: 150px;
      padding: 5px 0;
      cursor: pointer;
      }
    & > button:hover { font-weight: bold; }
    }

  & > .ann
    {
    height: 550px;
    color: black;
    text-align: left;
    padding-top: 1%;
    @include whitespace_parent;
    & > #image_m
      {
      width: 30%;
      height: 50%;
      display: inline-block;
      @include whitespace_enfant;
      }
    & > .details_ann
      {
      margin-right: 5%;
      width: 65%;
      display: inline-block;
      vertical-align: top;
      @include whitespace_enfant;

      & > #details
        {
        margin-top: 5%;
        margin-left: 10%;
        display: inline-block;
        }
      & > .admin { display: inline-block; vertical-align: top; float: right; }
      }
    & > #desc
      { @include whitespace_enfant;
        margin: 2%;
        width: 45%;
        background-color: gray;
        padding: 2%;
        vertical-align: top;
        height: 20%;
        }
    & > #contact
      {
      @include whitespace_enfant;
      width: 35%;
      margin-left: 5%;
      background-color: gray;
      padding: 2%;
      & > img { width: 26px; height: 26px; }
      }
    }

  & > .dua
    {
    padding-top: 2%;
    height: 550px;
    text-align: left;
    @include whitespace_parent;
    & > form > input
      {
      margin-top: 5%;
      float: right;
      margin-right: 45%;
      }
    & > .error { @include whitespace_enfant; margin-left: 10%; color:red; padding: 2% 0;}
    & > form > .info_ann > div, & > form > .info_ven > div
      {
      & > p { text-align: right; width: 30%; display: inline-block; margin-bottom: 2%;}
      & > input { display: inline-block; width: 40.5%; }
      & > select { width: 42%; }
      }
    & > form > .info_ann
      {
      width: 50%;
      display: inline-block;
      @include whitespace_enfant;
      }
    & > form > .info_ven
      {
      width: 50%;
      display: inline-block;
      vertical-align: top;
      @include whitespace_enfant;
      }
    }
  & > .check_ven
    {
    height: 150px;
    padding-top: 2%;
    }

  & > .adm
    {
    text-align: left;
    height: 500px;
    & > h4 { padding: 2% 0; }
    & > form
      {
      & > p { display: inline-block; width: 20%; padding-left: 5%; padding-bottom: 1%;};
      & > input, & > select { display: inline-block; width: 65%;};
      & > #envoie { width: 20%; float: right; margin-right: 5%;margin-top: 5%;}
      }
    @include whitespace_enfant;
    }
  }
