html, body { margin: 0; background-color: #56739A;}
.header { text-align: center; color: white; margin: 0; padding-top: 2em; padding-bottom: 1em; }

.nav { cursor: pointer; color: white; text-align: center; margin: 0; padding: 0; list-style-type: none; width: 100%;}
.nav li { display: inline-block; width: 18%; padding-bottom: 10px; }
.nav li:hover { color: red; }
.nav li a { color: white; text-decoration: none; }

.container { margin-left: 5%; margin-right: 5%; background-color: white; padding: 10px; }

a { text-decoration: none; }
a:active { color: purple; }
a:visited { color: blue; }
a:hover { text-decoration: underline; }
