<p>Avant de commencer, il est bon de savoir quand a lieu une transition en CSS. Vous n'êtes pas sans savoir qu'il est possible de modifier le
  style d'un élément d'une page lorsqu'un certain événement se déclenche. L'exemple le plus basique est celui des liens qui changent de couleur
  lors du passage de la souris.
</p>
<p>La transition a lieu entre l'état initial de l'élément (un lien bleu, par exemple) et son état final après l'événement (admettons que le lien
  devienne rouge). Grâce à la transition, notre lien ne passera pas du bleu au rouge directement, mais il changera progressivement de couleur.
</p>

<p>Bien entendu, il est possible de faire appel aux transitions sur d'autres propriétés que la couleur comme les dimensions des éléments ou leur
  position. Je vous invite à consulter <a href="http://www.w3.org/TR/css3-transitions/#animatable-properties-">cette page</a> pour prendre
  connaissance des propriétés pouvant être animées. Notez cependant que la propriété <kbd>transform</kbd> n'y est pas répertoriée alors qu'elle peut pourtant
  bel et bien être utilisée : en effet, il est tout à fait possible d'effectuer une transition lors d'une rotation, par exemple.
</p>
<p>Pour conclure avec cette première partie, retenez bien ceci : une transition, c'est tout simplement le changement d'état progressif d'une
  propriété CSS d'un état initial vers un état final voulu.
</p>

<a href="http://www.w3.org/TR/css3-transforms/">Lien vers css transform de W3C <i>(Tuto complet)</i></a><br>
<a href="http://www.w3schools.com/cssref/css3_pr_transform.asp">Lien vers css transform de W3C <i>(Tuto simple)</i></a><br>
<a href="https://developer.mozilla.org/fr/docs/Web/CSS/transform">Lien vers tutoriel complet <i>(Mozilla Developer Network)</i></a><br>
