<ul>
  <li><a href="http://www.alsacreations.com/article/lire/1418-css3-transformations-2d.html">Alsacréation</a></li>
  <li><a href="https://css-tricks.com/almanac/properties/t/transform/">CSS-tricks</a></li>
  <li><a href="http://www.css3maker.com/css3-transform.html">css3maker</a></li>
  <li><a href="https://developer.mozilla.org/fr/docs/Web/CSS/transform">Developper Mozilla Network</a></li>
  <li><a href="http://outils-css.aliasdmc.fr/les-transformations-2d-css3.php">Outils-css (demo)</a></li>
  <li><a href="http://www.w3schools.com/cssref/css3_pr_transform.asp">w3schools</a></li>
  <li><a href="http://www.zonecss.fr/proprietes_css/transform-css.html">Zonecss</a></li>
</ul>
