/* "f" : font -> text */
/* "b" : background -> font */
/* DEFAULT */
/* FORMATAGE TEXTE */
/* ALERTE */
/* TABLEAU */
/* LIEN */
/* BOUTON */
/* PAGINATION */
/* GRILLE */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* ALERTE */
.alerte {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px; }

.succes {
  background-color: green;
  color: white; }

.info {
  background-color: #56739A;
  color: white; }

.danger {
  background-color: red;
  color: white; }

.avertissement {
  background-color: white;
  color: red;
  border: 1px dashed red; }

/* BOUTON */
button {
  border: 1px solid black;
  margin-top: 5px;
  margin-bottom: 1px;
  cursor: pointer;
  border-radius: 20px;
  width: 200px;
  padding: 5px; }
  button.btn {
    border: 1px solid white; }
  button.btn:hover {
    border: 1px solid white;
    background-color: white;
    color: white;
    cursor: pointer; }
  button.btn-blue {
    background-color: blue;
    border: 1px solid blue;
    color: white; }
  button.btn-red {
    background-color: red;
    border: 1px solid red;
    color: white; }
  button.btn-yellow {
    background-color: yellow;
    border: 1px solid yellow;
    color: black; }
  button.btn-green {
    background-color: green;
    border: 1px solid green;
    color: white; }
  button.btn-black {
    background-color: black;
    border: 1px solid black;
    color: white; }
  button.btn-pink {
    background-color: pink;
    border: 1px solid pink;
    color: black; }
  button.btn-purple {
    background-color: purple;
    border: 1px solid purple;
    color: white; }
  button.btn-grey {
    background-color: gray;
    border: 1px solid gray;
    color: white; }
  button.btn-brown {
    background-color: brown;
    border: 1px solid brown;
    color: white; }
  button.btn-orange {
    background-color: orange;
    border: 1px solid orange;
    color: white; }
  button.small {
    border-radius: 0.4em;
    font-size: 1em;
    padding: 1px 5px; }
  button.large {
    border-radius: 0.2em;
    font-size: 2em;
    padding: 2px 10px; }
  button.extralarge {
    width: 100%; }
  button.flat {
    border: 0px;
    border-radius: 0em; }
  button.fancy {
    margin-top: 2%;
    margin-left: 15%;
    color: black;
    box-shadow: 5px 5px 1px #343434;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    background-image: radial-gradient(white, #C8AD7F); }
  button.fancy:hover {
    color: black;
    box-shadow: 5px 5px 1px #343434;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    background-image: radial-gradient(#C8AD7F, white); }

button:hover {
  font-weight: bold; }

.container {
  width: 100%;
  margin-top: 2%;
  padding: 0;
  letter-spacing: -0.31em; }
  .container > div {
    width: 10.5%;
    margin: 1%;
    border: 1px solid white;
    box-sizing: border-box;
    vertical-align: top;
    text-align: center;
    color: black;
    letter-spacing: normal;
    word-spacing: normal;
    display: inline-block; }
  @media screen and (min-width: 0px) {
    .container .sm1 {
      width: 10.5%; }
    .container .sm2 {
      width: 23%; }
    .container .sm3 {
      width: 35.5%; }
    .container .sm4 {
      width: 48%; }
    .container .sm5 {
      width: 60.5%; }
    .container .sm6 {
      width: 73%; }
    .container .sm7 {
      width: 85.5%; }
    .container .sm8 {
      width: 98%; }
    .container .offset-sm1 {
      margin-left: 13.5%; }
    .container .offset-sm2 {
      margin-left: 26%; }
    .container .offset-sm3 {
      margin-left: 38.5%; }
    .container .offset-sm4 {
      margin-left: 51%; }
    .container .offset-sm5 {
      margin-left: 63.5%; }
    .container .offset-sm6 {
      margin-left: 76%; }
    .container .offset-sm7 {
      margin-left: 88.5%; } }
  @media screen and (min-width: 600px) {
    .container .md1 {
      width: 10.5%; }
    .container .md2 {
      width: 23%; }
    .container .md3 {
      width: 35.5%; }
    .container .md4 {
      width: 48%; }
    .container .md5 {
      width: 60.5%; }
    .container .md6 {
      width: 73%; }
    .container .md7 {
      width: 85.5%; }
    .container .md8 {
      width: 98%; }
    .container .offset-md1 {
      margin-left: 13.5%; }
    .container .offset-md2 {
      margin-left: 26%; }
    .container .offset-md3 {
      margin-left: 38.5%; }
    .container .offset-lg4 {
      margin-left: 51%; }
    .container .offset-lg5 {
      margin-left: 63.5%; }
    .container .offset-lg6 {
      margin-left: 76%; }
    .container .offset-lg7 {
      margin-left: 88.5%; } }
  @media screen and (min-width: 1000px) {
    .container .lg1 {
      width: 10.5%; }
    .container .lg2 {
      width: 23%; }
    .container .lg3 {
      width: 35.5%; }
    .container .lg4 {
      width: 48%; }
    .container .lg5 {
      width: 60.5%; }
    .container .lg6 {
      width: 73%; }
    .container .lg7 {
      width: 85.5%; }
    .container .lg8 {
      width: 98%; }
    .container .offset-lg1 {
      margin-left: 13.5%; }
    .container .offset-lg2 {
      margin-left: 26%; }
    .container .offset-lg3 {
      margin-left: 38.5%; }
    .container .offset-lg4 {
      margin-left: 51%; }
    .container .offset-lg5 {
      margin-left: 63.5%; }
    .container .offset-lg6 {
      margin-left: 76%; }
    .container .offset-lg7 {
      margin-left: 88.5%; } }

.navbar {
  list-style-type: none;
  background-color: #4E3D28;
  margin: 0;
  text-align: center;
  letter-spacing: -0.31em; }
  .navbar > li {
    height: 1.5em;
    background-color: #4E3D28;
    cursor: pointer;
    display: block;
    color: white;
    padding-top: 1em;
    padding-bottom: 1em;
    width: auto;
    letter-spacing: normal;
    word-spacing: normal;
    display: inline-block; }
    .navbar > li.disabled:hover {
      color: #4E3D28;
      background-color: white; }
    .navbar > li.active {
      color: white;
      background-color: #1FA055; }
  @media screen and (min-width: 25em) {
    .navbar li {
      display: inline-block;
      width: 15em; } }

.breadcrumb {
  height: 2em;
  list-style-type: none;
  padding-top: 0.5em;
  padding-bottom: 0.5em; }
  .breadcrumb li {
    color: blue;
    display: inline-block;
    cursor: pointer; }
    .breadcrumb li:after {
      content: " / "; }

.pagination {
  width: 100%;
  text-align: center; }
  .pagination li {
    width: 100px;
    text-align: center;
    padding-top: 4px;
    cursor: pointer;
    height: 20px;
    list-style-type: none;
    display: inline-block; }
    .pagination li.disabled {
      color: white; }
    .pagination li.active {
      color: #1FA055; }
      .pagination li.active:active {
        color: #1FA055; }
    .pagination li:active {
      color: #1FA055; }

/* HEADER */
.titre {
  text-align: center;
  color: white;
  font-size: 5em;
  font-family: Courier, "Lucida Console", monospace;
  font-weight: bold;
  margin-top: 5%; }

.slogan {
  text-align: center;
  color: white;
  font-size: 1em;
  font-family: Courier, "Lucida Console", monospace;
  font-weight: bold;
  font-style: italic; }

/* JUMBOTRON */
.jumbotron {
  background-color: #BBAE98;
  padding: 50px 100px;
  text-align: center; }

.jumbo_titre {
  font-family: Courier, "Lucida Console", monospace;
  font-weight: bold;
  font-size: 3em;
  margin-bottom: 0.5em; }

.jumbo_button {
  border: 1px solid #1FA055;
  background-color: #1FA055;
  color: white;
  padding: 10px 50px;
  margin-top: 0.5em;
  border-radius: 0.6em; }

.jumbo_button:hover {
  background-color: white;
  color: #1FA055;
  font-weight: bold;
  border: 1px solid white; }

.jumbo_button:active {
  color: red; }

html {
  background: url("../img/bg.jpg") no-repeat fixed;
  background-size: 100%; }

/* STYLE DEFAUT */
body {
  font-family: Arial;
  padding: 0;
  color: white;
  font-size: 1em; }

body > p {
  margin-bottom: 1em; }

/* TITRE */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  font-family: cursive, sans-serif; }

/* TITRE & SOUS-TITRE */
h1 {
  margin-left: 0.5em;
  font-size: 2.5em; }
  h1.sub {
    margin-left: 1.7em;
    font-size: 1.75em;
    color: #8B6C42; }

h2 {
  margin-left: 1.5em;
  font-size: 2em; }
  h2.sub {
    margin-left: 2.9em;
    font-size: 1.5em;
    color: #8B6C42; }

h3 {
  margin-left: 2.5em;
  font-size: 1.75em; }
  h3.sub {
    margin-left: 5.4em;
    font-size: 1.25em;
    color: #8B6C42; }

h4 {
  margin-left: 4.5em;
  font-size: 1.5em; }
  h4.sub {
    margin-left: 8.7em;
    font-size: 1em;
    color: #8B6C42; }

h5 {
  margin-left: 7em;
  font-size: 1.25em; }
  h5.sub {
    margin-left: 13.4em;
    font-size: 0.75em;
    color: #8B6C42; }

h6 {
  margin-left: 10em;
  font-size: 1em; }
  h6.sub {
    margin-left: 24em;
    font-size: 0.5em;
    color: #8B6C42; }

* > .sub {
  font-size: 1em;
  color: #8B6C42; }

h1 > small, h2 > small, h3 > small, h4 > small, h5 > small, h6 > small {
  font-size: 0.75em;
  color: #8B6C42; }

/* BALISE DE TEXTE */
mark {
  background-color: #FDF1B8;
  color: white; }

del {
  text-decoration: line-through red; }

ins {
  text-decoration: none;
  background-color: #FDF1B8;
  font-size: 0.75em;
  padding: 1px 5px 1px 5px; }

u {
  text-decoration: underline; }

strong {
  font-weight: bold; }

em {
  font-weight: bold;
  font-style: italic; }

abbr {
  border-bottom: 1px dashed black; }

/* -----------------*/
blockquote {
  font-size: 0.75em;
  font-style: italic;
  quotes: '"' '"' "'" "'"; }

blockquote:before {
  content: open-quote; }

blockquote:after {
  content: close-quote; }

code {
  color: white;
  font-family: monospace;
  border-left: 3px solid white;
  background-color: #FDF1B8;
  padding-left: 15px;
  margin-left: 10em; }

kbd {
  color: white;
  padding: 1px 7px;
  border: 1px solid black;
  background-color: white;
  border-color: #463F32;
  border-radius: 20%; }

pre {
  font-family: monospace;
  font-size: 2em; }

ul {
  margin-left: 2em;
  list-style-type: circle; }

.list_carre {
  list-style-type: square; }

.list_sans {
  list-style-type: none; }

/* FORMATAGE TEXTE */
.tleft {
  justify-content: flex-start; }

.tright {
  text-align: right; }

.tcenter {
  text-align: center; }

.tjustifie {
  text-align: justify;
  text-justify: inter-word; }

.firstmaj {
  text-transform: capitalize; }

.maj {
  text-transform: uppercase; }

.min {
  text-transform: lowercase; }

/* TABLEAU */
table {
  margin: 5px;
  border: 1px solid black;
  text-align: center; }

th {
  background-color: #4E3D28;
  color: white;
  padding: 1px 5px;
  border: 1px solid black;
  border-right: 1px solid white; }

th:last-child {
  border-right: 1px solid black; }

td {
  padding: 1px 5px;
  border: 1px solid black; }

.alterne:nth-child(2n+1) {
  background-color: #C8AD7F;
  color: white; }

.tab_survol:hover, .tab_survol:hover > td {
  background-color: #FFE4C4; }

/* HR */
hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.75), transparent); }

/* LIEN */
a {
  color: blue;
  text-decoration: none;
  padding: 5px; }

a:link {
  color: blue; }

a:visited {
  color: blue; }

a:hover {
  border: 1px solid blue;
  border-radius: 20px; }

a:active {
  color: blue; }

.container > div {
  background-color: white;
  opacity: 0.8; }
.container > .acc {
  margin-top: 5%;
  font-size: 3em;
  background-color: white;
  color: black;
  opacity: 0.5;
  height: 300px;
  padding-top: 6%; }
.container > .acc:nth-child(2) {
  padding-top: 7%; }
.container > .acc:hover {
  cursor: pointer;
  opacity: 0.8; }
.container > .search {
  text-align: left;
  height: 150px; }
  .container > .search > form {
    height: 150px; }
  .container > .search > form > div > div > #inp {
    float: right;
    margin-right: 5%;
    margin-top: 20%;
    background-color: black;
    color: white;
    border: 1px solid black;
    cursor: pointer; }
.container > .details {
  padding: 1%;
  height: 450px; }
  .container > .details > .desc {
    text-align: left;
    padding: 0 10%; }
    .container > .details > .desc > h6 {
      margin: 0;
      display: inline-block; }
    .container > .details > .desc > img {
      margin: 10%;
      display: inline-block;
      width: 100px;
      height: 100px; }
    .container > .details > .desc > div {
      font-size: 1.5em;
      vertical-align: top;
      padding-top: 2%; }
  .container > .details > button {
    float: right;
    margin-right: 10%;
    background-color: blue;
    color: white;
    border: 1px solid blue;
    border-radius: 10px;
    width: 150px;
    padding: 5px 0;
    cursor: pointer; }
  .container > .details > button:hover {
    font-weight: bold; }
.container > .ann {
  height: 550px;
  color: black;
  text-align: left;
  padding-top: 1%;
  letter-spacing: -0.31em; }
  .container > .ann > #image_m {
    width: 30%;
    height: 50%;
    display: inline-block;
    letter-spacing: normal;
    word-spacing: normal;
    display: inline-block; }
  .container > .ann > .details_ann {
    margin-right: 5%;
    width: 65%;
    display: inline-block;
    vertical-align: top;
    letter-spacing: normal;
    word-spacing: normal;
    display: inline-block; }
    .container > .ann > .details_ann > #details {
      margin-top: 5%;
      margin-left: 10%;
      display: inline-block; }
    .container > .ann > .details_ann > .admin {
      display: inline-block;
      vertical-align: top;
      float: right; }
  .container > .ann > #desc {
    letter-spacing: normal;
    word-spacing: normal;
    display: inline-block;
    margin: 2%;
    width: 45%;
    background-color: gray;
    padding: 2%;
    vertical-align: top;
    height: 20%; }
  .container > .ann > #contact {
    letter-spacing: normal;
    word-spacing: normal;
    display: inline-block;
    width: 35%;
    margin-left: 5%;
    background-color: gray;
    padding: 2%; }
    .container > .ann > #contact > img {
      width: 26px;
      height: 26px; }
.container > .dua {
  padding-top: 2%;
  height: 550px;
  text-align: left;
  letter-spacing: -0.31em; }
  .container > .dua > form > input {
    margin-top: 5%;
    float: right;
    margin-right: 45%; }
  .container > .dua > .error {
    letter-spacing: normal;
    word-spacing: normal;
    display: inline-block;
    margin-left: 10%;
    color: red;
    padding: 2% 0; }
  .container > .dua > form > .info_ann > div > p, .container > .dua > form > .info_ven > div > p {
    text-align: right;
    width: 30%;
    display: inline-block;
    margin-bottom: 2%; }
  .container > .dua > form > .info_ann > div > input, .container > .dua > form > .info_ven > div > input {
    display: inline-block;
    width: 40.5%; }
  .container > .dua > form > .info_ann > div > select, .container > .dua > form > .info_ven > div > select {
    width: 42%; }
  .container > .dua > form > .info_ann {
    width: 50%;
    display: inline-block;
    letter-spacing: normal;
    word-spacing: normal;
    display: inline-block; }
  .container > .dua > form > .info_ven {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    letter-spacing: normal;
    word-spacing: normal;
    display: inline-block; }
.container > .check_ven {
  height: 150px;
  padding-top: 2%; }
.container > .adm {
  text-align: left;
  height: 500px;
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block; }
  .container > .adm > h4 {
    padding: 2% 0; }
  .container > .adm > form > p {
    display: inline-block;
    width: 20%;
    padding-left: 5%;
    padding-bottom: 1%; }
  .container > .adm > form > input, .container > .adm > form > select {
    display: inline-block;
    width: 65%; }
  .container > .adm > form > #envoie {
    width: 20%;
    float: right;
    margin-right: 5%;
    margin-top: 5%; }

/*# sourceMappingURL=main.css.map */
