.navbar
  {
  list-style-type: none;
  background-color: $bmenu;
  margin: 0;
  text-align: center;
  & > li
    {
      height: 2em;
      background-color: $bmenu;
      cursor: pointer;
      display: block;
      color: $fmenu;
      padding-top: 1em;
      padding-bottom: 1em;
      width: auto;
    &.disabled:hover { color: $bmenu; background-color: $fmenu; }
    &.active { color: $fmenu_activ; background-color: $bmenu_activ; }
    }

  @media screen and (min-width: 25em)
    {
    li { display:inline-block; width: $tmenu;}
    }
  }

.breadcrumb
  {
  height: 2em;
  list-style-type: none;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  & li
    {
    color: blue;
    display: inline-block;
    cursor: pointer;
    &:after
      {
        content: " / ";
      }
    }
  }

.pagination
  {
  width: 100%;
  text-align: center;
  & li
    {
    width: 100px;
    text-align: center;
    padding-top: 4px;
    cursor: pointer;
    height: 20px;
    list-style-type: none;
    display: inline-block;

    &.disabled{ color: $fcolor; }

    &.active { color: $fpage;
      &:active { color: $fpage; } }

    &:active { color: $fpage_activ }
    }
  }
