@mixin whitespace_parent
  {
  letter-spacing: -0.31em;
  text-rendering: optimizespeed;
  font-family: FreeSans, Arimo, "Droid Sans", Helvetica, Arial, sans-serif;
  }

@mixin whitespace_enfant
  {
  letter-spacing: normal;
  word-spacing: normal;
  text-rendering: auto;
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  display: inline-block;
  }
