/* ALERTE */
.succes { text-align: center; padding: 40px 0; background-color: $bsucces; color: $fsucces; }
.info { text-align: center; padding: 40px 0; background-color: $binfo; color: $finfo;}
.danger { text-align: center; padding: 40px 0; background-color: $bdanger; color: $fdanger}
.avertissement { text-align: center; padding: 40px 0; background-color: $baver; color: $faver; border: 1px dashed red; }
