/* HEADER */
.titre {
  @media screen and(min-width: 0px) {
      text-align: center;
      color: $fcolor;
      font-size: 2em;
      font-family: Courier, "Lucida Console", monospace;
      font-weight: bold;
      margin-top: 2%;
  }
  @media screen and(min-width: 600px) {
      text-align: center;
      color: $fcolor;
      font-size: 5em;
      font-family: Courier, "Lucida Console", monospace;
      font-weight: bold;
      margin-top: 2%;
  }
  @media screen and(min-width: 1000px) {
      text-align: center;
      color: $fcolor;
      font-size: 5em;
      font-family: Courier, "Lucida Console", monospace;
      font-weight: bold;
      margin-top: 2%;
  }
}

.titre_img { & > img { display: inline-block; width: 70px; height: 50px; margin-right: 2%; } }
.slogan { text-align: center; color: $fcolor; font-size: $tsize; font-family: Courier, "Lucida Console", monospace; font-weight: bold; font-style: italic; margin-bottom: 5%; }

/* JUMBOTRON */
.jumbotron { background-color: #BBAE98; padding: 50px 100px; text-align: center; }
.jumbo_titre { font-family: Courier, "Lucida Console", monospace; font-weight: bold; font-size: 3em; margin-bottom: 0.5em; }
.jumbo_button
  {
  cursor: pointer;
  border: 1px solid #1FA055;
  background-color: #1FA055;
  color: white;
  padding: 10px 50px;
  margin-top: 3%; 
  border-radius: 0.6em;
  }
.jumbo_button:hover { background-color: white; color: #1FA055; font-weight: bold; border: 1px solid white; }
.jumbo_button:active { color: red; }
