@import "whitespace";

@mixin grid_col($nb, $gutter, $demigutter)
  {
  width: $col*$nb+($nb - 1)*$gutter;
  }

@mixin grid_off($nb)
  {
  margin-left: $demigutter+$col*$nb+$nb*$gutter;
  }


.container
  {
  width: 100%;
  margin: 0; padding: 0;

  @include whitespace_parent;

  & > div
    {
    width: $col;
    margin: $demigutter;
    height: auto;
    //border: 1px solid $fcolor;
    box-sizing: border-box;
    vertical-align: top;
    text-align: left;

    @include whitespace_enfant;
    }

  & > .test { background-color: $fcolor; height: 10px;}
  @media screen and(min-width: 0px)
    {
    & .sm1 { @include grid_col(1, $gutter, $demigutter); }
    & .sm2 { @include grid_col(2, $gutter, $demigutter); }
    & .sm3 { @include grid_col(3, $gutter, $demigutter); }
    & .sm4 { @include grid_col(4, $gutter, $demigutter); }
    & .sm5 { @include grid_col(5, $gutter, $demigutter); }
    & .sm6 { @include grid_col(6, $gutter, $demigutter); }
    & .sm7 { @include grid_col(7, $gutter, $demigutter); }
    & .sm8 { @include grid_col(8, $gutter, $demigutter); }

    & .offset-sm0 { @include grid_off(0); }
    & .offset-sm1 { @include grid_off(1); }
    & .offset-sm2 { @include grid_off(2); }
    & .offset-sm3 { @include grid_off(3); }
    & .offset-sm4 { @include grid_off(4); }
    & .offset-sm5 { @include grid_off(5); }
    & .offset-sm6 { @include grid_off(6); }
    & .offset-sm7 { @include grid_off(7); }
  }

  @media screen and(min-width: 600px)
    {
    & .md1 { @include grid_col(1, $gutter, $demigutter); }
    & .md2 { @include grid_col(2, $gutter, $demigutter); }
    & .md3 { @include grid_col(3, $gutter, $demigutter); }
    & .md4 { @include grid_col(4, $gutter, $demigutter); }
    & .md5 { @include grid_col(5, $gutter, $demigutter); }
    & .md6 { @include grid_col(6, $gutter, $demigutter); }
    & .md7 { @include grid_col(7, $gutter, $demigutter); }
    & .md8 { @include grid_col(8, $gutter, $demigutter); }

    & .offset-md0 { @include grid_off(0); }
    & .offset-md1 { @include grid_off(1); }
    & .offset-md2 { @include grid_off(2); }
    & .offset-md3 { @include grid_off(3); }
    & .offset-md4 { @include grid_off(4); }
    & .offset-md5 { @include grid_off(5); }
    & .offset-md6 { @include grid_off(6); }
    & .offset-md7 { @include grid_off(7); }
  }

  @media screen and(min-width:1000px)
    {
    & .lg1 { @include grid_col(1, $gutter, $demigutter); }
    & .lg2 { @include grid_col(2, $gutter, $demigutter); }
    & .lg3 { @include grid_col(3, $gutter, $demigutter); }
    & .lg4 { @include grid_col(4, $gutter, $demigutter); }
    & .lg5 { @include grid_col(5, $gutter, $demigutter); }
    & .lg6 { @include grid_col(6, $gutter, $demigutter); }
    & .lg7 { @include grid_col(7, $gutter, $demigutter); }
    & .lg8 { @include grid_col(8, $gutter, $demigutter); }

    & .offset-lg0 { @include grid_off(0); }
    & .offset-lg1 { @include grid_off(1); }
    & .offset-lg2 { @include grid_off(2); }
    & .offset-lg3 { @include grid_off(3); }
    & .offset-lg4 { @include grid_off(4); }
    & .offset-lg5 { @include grid_off(5); }
    & .offset-lg6 { @include grid_off(6); }
    & .offset-lg7 { @include grid_off(7); }
    }
  }
