.navbar
  {
  width: 100%;
  list-style-type: none;
  background-color: $fcolor;
  margin: 0; padding: 0;
  text-align: center;
  @include whitespace_parent;

    & > li
      {
      vertical-align: top;
      background-color: $bmenu;
      cursor: pointer;
      height: 100%;
      padding: 20px 0;
      @include whitespace_enfant;

      & > a { color: $fmenu; font-weight: bold;}
      &.disabled:hover
        {
        background-color: $fmenu;
        & > a { color: $bmenu; }
        }
      &.active { color: $fmenu_activ; background-color: $bmenu_activ; }

      @media screen and (min-width: 0px)
        {
        display: block;
        }
      @media screen and (min-width: 600px)
        {
        display: inline-block;
        width: 100%/$nbmenu;
        }
      @media screen and (min-width: 1000px)
        {
        display: inline-block;
        width: 100%/$nbmenu;
        }
      }
  }

.breadcrumb
  {
    height: 2em;
    list-style-type: none;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    & li
      {
      color: $fcolor;
      display: inline-block;
      cursor: pointer;
      &:not(:last-child):after
        {
          content: " > ";
          color: black;
          cursor: default;
        }
      &:last-child
        {
          color: black;
          cursor: default;
        }
      }
  }


.pagination
  {
  width: 100%;
  text-align: center;
  & li
    {
    width: 100px;
    text-align: center;
    padding-top: 4px;
    cursor: pointer;
    height: 20px;
    list-style-type: none;
    display: inline-block;

    &.disabled{ color: $fcolor; }

    &.active { color: $fpage;
      &:active { color: $fpage; } }

    &:active { color: $fpage_activ }
    }
  }
