<!DOCTYPE html>
<html>
  <head lang="fr">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>LEBONAPPART</title>
      <!--meta name="description" content=""-->
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <link rel="stylesheet" href="css/main.css">

  </head>

  <body>

    <div class="titre">LEBONAPPART</div>
    <div class="slogan">VIENT ACHETER MA MAISON STP</div>

    <div class="container">
      <div class="lg2 offset-lg1 acc" onClick="window.location.href='index.php/deposer_une_annonce';">Déposer mon annonce</div>
      <div class="lg2 acc" onClick="window.location.href='index.php/recherche';">Recherche</div>
      <div class="lg2 acc" onClick="window.location.href='index.php/toutes_les_annonces';">Toutes les annonces</div>
    </div>

  </body>
</html>
