<!DOCTYPE html>
<html>
  <head lang="fr">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>LEBONAPPART</title>
      <!--meta name="description" content=""-->
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <link rel="stylesheet" href="../../../../public/css/main.css">

  </head>

  <body>

    <div class="titre">LEBONAPPART</div>
    <div class="slogan">VIENT ACHETER MA MAISON STP</div>

    <button class="fancy" onClick="window.location.href='../../../index.php'">Accueil</button>
    <button class="fancy" onClick="window.location.href='../../../index.php/recherche'">Recherche</button>
    <button class="fancy" onClick="window.location.href='../../../index.php/deposer_une_annonce'">Déposer annonce</button>

    <div class="container">
      <div class="lg6 offset-lg1 adm">
        <h4>Administration annonce n°{{annonce.id_ann}}</h4><br>
        <form method="post" action=../{{annonce.id_ann}}/modifier>
          <p>Titre : </p> <input type="text" name="titre_ann" value="{{annonce.titre_ann|e}}" /><br>
          <p>Description : </p> <input type="text" name="desc_ann" value="{{annonce.desc_ann|e}}" /><br>
          <p>Quartier : </p> <input type="text" name="nom_qua" value="{{quartier.nom_qua|e}}" /><br>
          <p>Ville : </p>
            <select name="ville">
              <option value="{{ville.nom_vil|e}}">{{ville.nom_vil|e}}</option>
              {% for vil in allville %}
                {% if vil.nom_vil != ville.nom_vil %}
                  <option value="{{vil.nom_vil|e}}">{{vil.nom_vil|e}}</option>
                {% endif %}
              {% endfor %}
            </select>
          <p>Superficie : </p> <input type="text" name="superficie_ann" value="{{annonce.superficie_ann|e}}" /><br>
          <p>Prix : </p> <input type="text" name="prix_ann" value="{{annonce.prix_ann|e}}" /><br>
          <p>Type de bien : </p>
            <select name="tyb">
              <option value="{{typeBien.nom_typ|e}}">{{typeBien.nom_typ|e}}</option>
              {% for tyb in allTyb %}
                {% if tyb.nom_typ != typeBien.nom_typ %}
                  <option value="{{tyb.nom_typ|e}}">{{tyb.nom_typ|e}}</option>
                {% endif %}
              {% endfor %}
            </select>
          <p>Nombre de pièces : </p> <input type="text" name="nbpiece_ann" value="{{annonce.nbpiece_ann|e}}" /><br>
          <p>Location/Vente : </p>
            <select name="loc">
              <option value="{{annonce.loc_ann|e}}">{{annonce.loc_ann|e}}</option>
              {% if annonce.loc_ann|e == "Vente" %}
                <option value="Location">Location</option>
              {% else %}
                <option value="Vente">Vente</option>
              {% endif %}
            </select>
            <input id="envoie" type="submit" name="val_env" value="Supprimer" />
            <input id="envoie" type="submit" name="val_env" value="Modifier" />
        </form>
      </div>
    </div>
  </body>
</html>
