<!DOCTYPE html>
<html>
  <head lang="fr">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>LEBONAPPART</title>
      <!--meta name="description" content=""-->
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <link rel="stylesheet" href="../../../public/css/main.css">

  </head>

  <body>

    <div class="titre">LEBONAPPART</div>
    <div class="slogan">VIENT ACHETER MA MAISON STP</div>

    <button class="fancy" onClick="window.location.href='../../index.php'">Accueil</button>
    <button class="fancy" onClick="window.location.href='../../index.php/recherche'">Recherche</button>
    <button class="fancy" onClick="window.location.href='../../index.php/deposer_une_annonce'">Déposer annonce</button>

    <div class="container">
      <div class="lg6 offset-lg1 ann">
        <img id="image_m" src="../../../public/{{ annonce.image_ann|e }}" />
        <div class="details_ann">
          <h1> {{annonce.titre_ann|e}} </h1>
          <div id="details">
            <p><strong>Type :</strong> {{ typeBien.nom_typ|e }}</p><br>
            <p><strong>Quartier :</strong> {{ quartier.nom_qua }}</p><br>
            {% for vil in ville %}
              {% if vil.id_vil == quartier.id_vil %}
                <p><strong>Ville :</strong> {{ vil.nom_vil}}</p><br>
              {% endif %}
            {% endfor %}
            <p><strong>Superficie :</strong> {{annonce.superficie_ann|e}} m²</p><br>
            <p><strong>Prix :</strong> {{annonce.prix_ann}} €</p><br>
            <p><strong>Date :</strong> {{annonce.date_ann|date('d/m/y')}}</p><br>
            <p><strong>Nombre de pièce :</strong> {{annonce.nbpiece_ann|e}}</p><br>
          </div>
            <div class="admin">
              <h3>Administration</h3><br>
              <form method="post" action="../../index.php/annonce/{{annonce.id_ann}}/administrer">
                <p>Password :</p> <input type="password" name="pwann"><br>
                <input type="submit" value="Administrer" />
              </form>
            </div>
        </div>

        <div id="desc">
          <p>{{annonce.desc_ann|e}}</p>
        </div>
        <div id="contact">
          <strong><u>Contacter le vendeur : </u></strong>
          <div><br>
            <p><strong>Nom :</strong> {{ vendeur.nom_ven|e }}</p>
            <p><strong>Prénom :</strong> {{ vendeur.prenom_ven|e }}</p>
          </div><br>
          <img src="../../../public/img/mail.png" title="mail"/> {{vendeur.mail_ven}} <br>
          <img src="../../../public/img/tel.png" title="téléphone" /> {{vendeur.numTel_ven}}
        </div>
      </div>
    </div>
  </body>
</html>
