<!DOCTYPE html>
<html>
  <head lang="fr">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>LEBONAPPART</title>
      <!--meta name="description" content=""-->
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <link rel="stylesheet" href="../../public/css/main.css">

  </head>

  <body>

    <div class="titre">LEBONAPPART</div>
    <div class="slogan">VIENT ACHETER MA MAISON STP</div>

    <button class="fancy" onClick="window.location.href='../index.php'">Accueil</button>
    <button class="fancy" onClick="window.location.href='../index.php/recherche'">Recherche</button>
    <button class="fancy" onClick="window.location.href='../index.php/deposer_une_annonce'">Déposer annonce</button>

    <div class="container">
      <div class="lg6 offset-lg1 dua">
        <form method="post" action="../index.php/ajout_annonce_vendeur" ENCTYPE="multipart/form-data">
          <div class="info_ann">
            <h1>Informations annonce</h1><br>
            <div><p>Titre :</p> <input type="text" name="titre" value="{{titre|e}}" /> </div>
            <div><p>Desc :</p> <input type="text" name="desc" value="{{desc|e}}" /> </div>
            <div><p>Quartier :</p> <input type="text" name="quartier" value="{{qua|e}}" /> </div>
            <div><p>Ville :</p>
              <select name="ville">
                {% for vil in ville %}
                  <option>{{ vil.nom_vil|e }}</option>
                {% endfor %}
              </select>
            </div>
            <div><p>Superficie :</p> <input type="text" name="superficie" value="{{super|e}}" /> </div>
            <div><p>Nombre de piece :</p> <input type="number" name="nbpiece" min="0" max="100" step="1" value="{{nbp|e}}" /></div>
            <div><p>Prix :</p> <input type="text" name="prix" value="{{prix|e}}" /> </div>
            <div><p>Logement :</p>
              <select name="type">
                {% for typ in typeBien %}
                <option value="{{typ.nom_typ}}">{{typ.nom_typ}}</option>
                {% endfor %}
              </select>
            </div> 
            <div><p>Vente :</p>
              <select name="loc">
                <option value="Location">Location</option>
                <option value="Vente">Vente</option>
              </select>
            </div>
           {#  <div><p>Image :</p> <input type="file" name="image" /></div> #}
          </div>

          <div class="info_ven">
            <h1>Informations vendeur</h1><br>
            <div><p>Nom :</p> <input type="text" name="nom" value="{{nom|e}}"/> </div>
            <div><p>Prénom :</p> <input type="text" name="pnom" value="{{pnom|e}}"/> </div>
            <div><p>Mot de passe :</p> <input type="password" name="pw" value="{{pw|e}}"/> </div>
            <div><p>Adresse :</p> <input type="text" name="adresse" value="{{adr|e}}" /> </div>
            <div><p>CP :</p> <input type="text" name="cp" value="{{cp|e}}"/> </div>
            <div><p>Ville :</p>
              <select name="ville_v">
                {% for vil in ville %}
                  <option>{{ vil.nom_vil|e }}</option>
                {% endfor %}
              </select>
            </div>
            <div><p>Email :</p> <input type="mail" name="mail" value="{{mail|e}}" /> </div>
            <div><p>Téléphone :</p> <input type="text" name="tel" value="{{tel|e}}"/> </div>
            <div><p>Type :</p>
              <select name="type_v">
                <option value="Agence">Agence</option>
                <option value="Particulier">Particulier</option>
              </select>
            </div>
          </div>
          <input type="submit" value="Enregistrement" />
        </form>
        {% if erreur is defined %}
          <p class="error">{{erreur|e}}</p>
        {% endif %}
      </div>
    </div>
  </body>
</html>
