<!DOCTYPE html>
<html>
  <head lang="fr">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>LEBONAPPART</title>
      <!--meta name="description" content=""-->
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <link rel="stylesheet" href="../../public/css/main.css">

      <script type="text/javascript" src="http://code.jquery.com/jquery-1.5.1.min.js"></script>
      <script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery.ui/1.8.10/jquery-ui.js"></script>
  </head>

  <body>

    <div class="titre">LEBONAPPART</div>
    <div class="slogan">VIENT ACHETER MA MAISON STP</div>

    <button class="fancy" onClick="window.location.href='../index.php'">Accueil</button>
    <button class="fancy" onClick="window.location.href='../index.php/recherche'">Recherche</button>
    <button class="fancy" onClick="window.location.href='../index.php/deposer_une_annonce'">Déposer annonce</button>

    <div class="container">
      <div class="lg6 offset-lg1 search">

        <form action="../index.php/recherche" method="post">

          <div class="container">
            <div class="lg1">
              <p>Quartier</p><br>
              <select name="quartier">
                <option value="{{ filtrequa|e }}">{{ filtrequa|e }}</option>
                {% for qua in quartier %}
                  {% if filtrequa != qua.nom_qua %}
                    <option value="{{qua.nom_qua|e}}">{{qua.nom_qua|e}}</option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>

            <div class="lg1">
              <p>Ville</p><br>
                <select name="ville">
                  <option value="{{ filtrevil|e }}">{{ filtrevil|e }}</option>
                  {% for vil in ville %}
                    {% if filtrevil != vil.nom_vil %}
                      <option value="{{vil.nom_vil|e}}">{{vil.nom_vil|e}}</option>
                    {% endif %}
                  {% endfor %}
              </select>
            </div>

            <div class="lg1">
              <p>Superficie</p><br>
              <input type="text" name="supinf" value="0" style="width:40px;"> -
              <input type="text" name="supsup" value="1000" style="width:40px;">
            </div>

            <div class="lg1">
              <p>Type de bien</p><br>
              <select name="typ">
                <option value="{{ filtretyp|e }}">{{ filtretyp|e }}</option>
                {% for typ in typeBien %}
                  {% if filtretyp != typ.nom_typ %}
                    <option value="{{typ.nom_typ|e}}"> {{ typ.nom_typ|e }} </option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>

            <div class="lg1">
              <p>Location/Vente</p><br>
              <select name="loc_vente">
                {% if filtreloc == "location" %}
                  <option value="location">location</option>
                  <option value="vente">vente</option>
                {% else %}
                  <option value="vente">vente</option>
                  <option value="location">location</option>
                {% endif %}
              </select>
            </div>

            <div class="lg1">
              <p>Prix</p><br>
              <input type="text" name="prixinf" value="{{ filtrepin|e }}" style="width:40px;"> -
              <input type="text" name="prixsup" value="{{ filtrepsu|e }}" style="width:40px;">
            </div>

            <div class="lg1">
              <p>Nb pieces</p><br>
              <input type="text" name="nbpinf" value="{{filtrenin|e}}" style="width:40px;"> -
              <input type="text" name="nbpsup" value="{{filtrensu|e}}" style="width:40px;">
            </div>
          <div class="lg1">
            <input id="inp" type="submit" value="Rechercher" name="recherche" />
          </div>
        </div>
        </form>
      </div>
    </div>

    <div class="container">
      {% for ann in annonce %}
        <div class="lg2 details">
          <div class="desc">
            <h6> {{ ann.titre_ann|e }} </h6>
            <img src="../../public/{{ ann.image_ann|e }}" />
            <div>
              <p> <strong>Type :</strong>
                {% for typ in typeBien %}
                  {% if typ.id_typ == ann.id_typ %}
                    {{ typ.nom_typ }}
                  {% endif %}
                {% endfor %}
              </p>

              <p> <strong>Quartier :</strong>
                {% for qua in quartier %}
                  {% if qua.id_qua == ann.id_qua %}
                    {{ qua.nom_qua }}
              </p><p><strong>Ville :</strong>
                    {% for vil in ville %}
                      {% if qua.id_vil == vil.id_vil %}
                        {{ vil.nom_vil }}
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                {% endfor %}
              </p>


              </p>
              <p> <strong>Superficie :</strong> {{ ann.superficie_ann|e }} m² </p>
              <p> <strong>Prix :</strong> {{ ann.prix_ann|e }} € </p>
              <p> <strong>Date :</strong> {{ ann.date_ann|date('d/m/y') }} </p>
            </div>
          </div><br>

          <button class="btn-blue" onClick="window.location.href='../index.php/annonce/{{ann.id_ann}}';">Voir l'annonce</button>
        </div>
      {% endfor %}
    </div>
  </body>
</html>
