<!DOCTYPE html>
<html>
  <head lang="fr">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>LEBONAPPART</title>
      <!--meta name="description" content=""-->
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <link rel="stylesheet" href="../../public/css/main.css">

      <script type="text/javascript" src="http://code.jquery.com/jquery-1.5.1.min.js"></script>
      <script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery.ui/1.8.10/jquery-ui.js"></script>
  </head>

  <body>

    <div class="titre">LEBONAPPART</div>
    <div class="slogan">VIENT ACHETER MA MAISON STP</div>

    <button class="fancy" onClick="window.location.href='../index.php'">Accueil</button>
    <button class="fancy" onClick="window.location.href='../index.php/recherche'">Recherche</button>
    <button class="fancy" onClick="window.location.href='../index.php/deposer_une_annonce'">Déposer annonce</button>

    <div class="container">
      <div class="lg6 offset-lg1 search">

        <form action="../index.php/recherche" method="post">

          <div class="container">
            <div class="lg1">
              <p>Quartier</p><br>
              <select name="quartier">
                {% for qua in quartier %}
                  <option value="{{qua.nom_qua|e}}">{{qua.nom_qua|e}}</option>
                  {% endfor %}
              </select>
            </div>

            <div class="lg1">
              <p>Ville</p><br>
                <select name="ville">
                  {% for vil in ville %}
                    <option value="{{vil.nom_vil|e}}">{{vil.nom_vil|e}}</option>
                  {% endfor %}
              </select>
            </div>

            <div class="lg1">
              <p>Superficie</p><br>
              <input type="text" name="supinf" value="0" style="width:40px;"> -
              <input type="text" name="supsup" value="1000" style="width:40px;">
            </div>

            <div class="lg1">
              <p>Type de bien</p><br>
              <select name="typ">
                {% for typ in typeBien %}
                  <option value="{{typ.nom_typ|e}}"> {{ typ.nom_typ|e }} </option>
                {% endfor %}
              </select>
            </div>

            <div class="lg1">
              <p>Location/Vente</p><br>
              <select name="loc_vente">
                <option value="location">location</option>
                <option value="vente">vente</option>
              </select>
            </div>

            <div class="lg1">
              <p>Prix</p><br>
              <input type="text" name="prixinf" value="0" style="width:40px;"> -
              <input type="text" name="prixsup" value="500" style="width:40px;">
            </div>

            <div class="lg1">
              <p>Nb pieces</p><br>
              <input type="text" name="nbpinf" value="0" style="width:40px;"> -
              <input type="text" name="nbpsup" value="5" style="width:40px;">
            </div>

            <div class="lg1">
              <input id="inp" type="submit" value="Rechercher" name="recherche" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
