<!DOCTYPE html>
<html>
  <head lang="fr">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>LEBONAPPART</title>
      <!--meta name="description" content=""-->
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <link rel="stylesheet" href="../../public/css/main.css">

  </head>

  <body>

    <div class="titre">LEBONAPPART</div>
    <div class="slogan">VIENT ACHETER MA MAISON STP</div>

    <button class="fancy" onClick="window.location.href='../index.php'">Accueil</button>
    <button class="fancy" onClick="window.location.href='../index.php/recherche'">Recherche</button>
    <button class="fancy" onClick="window.location.href='../index.php/deposer_une_annonce'">Déposer annonce</button>

    <div class="container">

      {% for ann in annonce %}
        <div class="lg2 details">
          <div class="desc">
            <h6> {{ ann.titre_ann|e }} </h6>
            <img src="../../public/{{ ann.image_ann|e }}" />
            <div>
              <p> <strong>Type :</strong>
                {% for typ in typeBien %}
                  {% if typ.id_typ == ann.id_typ %}
                    {{ typ.nom_typ }}
                  {% endif %}
                {% endfor %}
              </p>

              <p> <strong>Quartier :</strong>
                {% for qua in quartier %}
                  {% if qua.id_qua == ann.id_qua %}
                    {{ qua.nom_qua }}
              </p>
              <p><strong>Ville :</strong>
                {% for vil in ville %}
                  {% if qua.id_vil == vil.id_vil %}
                    {{ vil.nom_vil}}
                  {% endif %}
                {% endfor %}
                {% endif %}
              {% endfor %}
              </p>


              </p>
              <p> <strong>Superficie :</strong> {{ ann.superficie_ann|e }} m² </p>
              <p> <strong>Prix :</strong> {{ ann.prix_ann|e }} € </p>
              <p> <strong>Date :</strong> {{ ann.date_ann|date('d/m/y') }} </p>
            </div>
          </div><br>

          <button class="btn-blue" onClick="window.location.href='../index.php/annonce/{{ann.id_ann}}';">Voir l'annonce</button>
        </div>
      {% endfor %}
    </div>

  </body>
</html>
