<!DOCTYPE html>
<html>
  <head lang="fr">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>LEBONAPPART</title>
      <!--meta name="description" content=""-->
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <link rel="stylesheet" href="../../public/css/main.css">

  </head>

  <body>

    <div class="titre">LEBONAPPART</div>
    <div class="slogan">VIENT ACHETER MA MAISON STP</div>

    <button class="fancy" onClick="window.location.href='../index.php'">Accueil</button>
    <button class="fancy" onClick="window.location.href='../index.php/recherche'">Recherche</button>
    <button class="fancy" onClick="window.location.href='../index.php/deposer_une_annonce'">Déposer annonce</button>

    <div class="container">
      <div class="lg6 offset-lg1 check_ven">
        <form method="post" action="../index.php/etape_1">
          <input type="radio" name="create" value="non">J'ai déjà publié une annonce <br><br>
          <input type="radio" name="create" value="oui" checked="yes">Je n'ai jamais publié d'annonce<br><br>
          <input type="submit" value="OK" />
        </form>
      </div>
    </div>
  </body>
</html>
